bin/
obj/
.idea/
*.db-shm
*.db-wal
/.vs/RegistrantApp/FileContentIndex
/.vs/RegistrantApp/FileContentIndex/094eeebf-10cd-48de-a788-ee53ceddc599.vsidx
/.vs/RegistrantApp/FileContentIndex/1d8df9d6-3141-4bd3-9a1e-fd092cd6893e.vsidx
/.vs/RegistrantApp/FileContentIndex/4cf3088d-7ccd-4888-a86a-6bcaab006dbd.vsidx
/.vs/RegistrantApp/FileContentIndex/c6e6bd9d-1302-4b7a-ba27-d26e0b65e79a.vsidx
/.vs/RegistrantApp/FileContentIndex/merges
/.vs/RegistrantApp/FileContentIndex/merges/483a2e61-e012-4fd4-894e-4d0b332755d7.vsidx
/.vs/RegistrantApp/FileContentIndex/merges/b6a439d4-4cbb-4e27-a011-687178266734.vsidx
/.vs/RegistrantApp/FileContentIndex/read.lock
/.vs/RegistrantApp/FileContentIndex/write.lock
/.vs
/.vs/ProjectEvaluation
/.vs/ProjectEvaluation/registrantapp.metadata.v7.bin
/.vs/ProjectEvaluation/registrantapp.projects.v7.bin
/.vs/RegistrantApp
/.vs/RegistrantApp/DesignTimeBuild
/.vs/RegistrantApp/DesignTimeBuild/.dtbcache.v2
/.vs/RegistrantApp/v17
/.vs/RegistrantApp/v17/.suo
/RegistrantApp/Client/RegistrantApp.Client.csproj.user
/RegistrantApp/Server/RegistrantApp.Server.csproj.user
/RegistrantApp/Server/LocalStorage.db
